.plan-manager {
    .wh-title {
        float: none;
    }
    .plans {
        margin-top: 20px;
    }

    .plan-editor-dialog .el-dialog {
        min-width: 560px;
        max-width: 560px;
    }


}