@import './plan';

.cash-tool{
  margin:5px 0 10px ;
}
.table__inner--img{
  width:40px;
  height:40px;
  vertical-align: middle;
  margin: 5px 0;
  cursor: pointer;
}
.dialog__inner--img{
  max-width: 70vw;
  width:auto;
  height:auto;
}

.price-set__error {
  font-size: 12px;
  color: #ff4949;
}

.price_set__error--input {
  border: 1px solid #ff4949;
  border-radius: 5px;
}
