.wh-panel-card{
  padding: 0 10px;
  font-size: 12px;
  color: #000;
  &__item{
    width: 50%;
    flex: 0 50%;
  }
  &__group{
    display: flex;
    flex-flow: wrap;
  }
}
.order-panel{
  max-height: 250px;
  overflow-y: auto;
}
